/*#main{
    display: flex;
    display: inline;
   justify-content: space-around; 
   justify-content: center;
   background-color:white;
   height: 290px;
}
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 18px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  */
  /*
  #main{
    display: flex;
    display: inline;
   justify-content: space-around; 
   justify-content: center;
   background-color:pink;
   height: 290px;
}
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 18px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  */
  #main{
    display: flex;
    display: inline;
   justify-content: space-around; 
   justify-content: center;
   background-color:white;
   height: 290px;
}
  
  .footer-content {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-section {
    margin-bottom: 20px;
  }
  
  .footer-section h4 {
    font-size: 18px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }